<header class="archive-header-blog{{ term.image_attachment ? ' archive-header--has-image' : '' }}">
    <div class="archive-header-blog__inner-1">

        {% if term.image_attachment %}
            <figure class="archive-header-blog__image">
                <img src="{{ TimberImage(term.image_attachment).src | resize (1200, 600) }}" alt="{{ term.image_attachment.alt }}"/>
            </figure>
        {% endif %}
        <div class="archive-header-blog__inner-2">

            <div class="archive-header-blog__text">
                {% if parent_term %}
                    <p class="archive-header-blog__parent-term">
                        <a class="archive-header-blog__parent-term-link" href="{{ parent_term.path }}">
                            <svg>
                                <use xlink:href="#arrow-small"></use>
                            </svg>
                            {{ parent_term.name }}
                        </a>
                    </p>
                {% endif %}

                <h1 class="archive-header-blog__title">{{ term.title }}</h1>

            </div>

        </div>
    </div>

    {% if term.description %}
        <div class="archive-header-blog__description">
            <div class="archive-header-blog__description-inner">
                <p>{{ term.description }}</p>
            </div>
        </div>

    {% endif %}

    {% set featuredAuthors = term.featuredAuthors %}

    {% if featuredAuthors %}
        <div class="archive-header-blog__authors">
            <div class="archive-header-blog__authors-inner">

                <div class="article-authors article-authors--blog">
                    <div class="article-authors__inner">
                        {% for author in featuredAuthors %}
                            {% include 'components/article-author.twig'%}
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    {% endif %}

</header>
