<div class="tz-roundup">

    <a class="tz-roundup__image-link" href="{{ post.link }}">
        <figure class="tz-roundup__image">
            {% if post.thumbnail %}
                <img src="{{ TimberImage(post.thumbnail).src | resize (270, 270) }}" alt="{{ post.thumbnail.alt }}"/>
            {% else %}
                <img src="{{ site.theme.path }}/static/img/default-tz-image.svg" alt="No image available"/>
            {% endif %}
        </figure>
    </a>

    <div class="tz-roundup__text">
        {% if dateNotTopic %}
            <h4 class="tz-roundup__date">{{ post.date | date('F j, Y')}}</h4>
        {% elseif post.category %}
            <h4 class="tz-roundup__topic">
                <a class="tz-roundup__topic-link" href=" {{ post.category.link }} ">{{ post.category }}</a>
            </h4>
        {% endif %}
        <h2 class="tz-roundup__title">
            <a class="tz-roundup__title-link" href="{{ post.link }}">{{ post.title }}</a>
        </h2>

        <p class="tz-roundup__read">
            <a class="tz-roundup__read-link" href="{{ post.link }}">Read
                <svg class="svg">
                    <use xlink:href="#arrow-small"></use>
                </svg>
            </a>
        </p>

    </div>
</div>
